.side-bar {
    background: #141414;
    height: 88vh;
    width: 14vw;
    left: 0;
    transition: 300ms;
    justify-content: center;
    position: relative;
    top: 0;
    z-index: 10;
}

.test { display: flex;}

.header-container {
    background: #141414;
    height: 12vh;
    justify-content: flex-start;
    display: flex;
    align-items: center;
}

.icon-home {
    margin-left: 10px;
    height: 40px;
    width: 40px;
}