.logo {
  height: 12vh;
  text-align: center;
}

.logo-svg {
  border-radius: 75px;
  height: 40px;
  position: relative;
  top: 25%;
  cursor: pointer;
}

.ant-menu-title-content {
  font-weight: bold;
}