.logo {
    height: 12vh;
    // margin: 16px;
    background: rgba(255, 255, 255, 0.2);
  }

  .menu-theme{
    background-color: rgb(20, 119, 206) !important;
    color: black;
  }

  .menu-container{
    background-color: rgb(223, 52, 194)
  }

  .ant-layout .ant-layout-sider-trigger {
    background: aliceblue;
  }