.remove-icon {
    top: 8px;
    position: relative;
    left: 5px;
}

.side-quantity{
    margin-left: -85px;
}

.steps{
    width: 50%;
    padding-bottom: 5px;
}

.variant-name{
    font-weight: bold;
}

.variant-table {
    padding: 8px;
    margin: 4px;
}

.row-item {
    display: flex;
    > div {
        margin-left: 6px;
      }
}