.header-container {
    background: #141414;
    height: 12vh;
    justify-content: flex-start;
    display: flex;
    align-items: center;
}

.icon-home {
    margin-left: 10px;
    height: 40px;
    width: 40px;
}